* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width:100%;
    height: auto;
}



body {
    font: 100%/1.5 "Lucida Grande", "lucida Sans Unicode", Veranda, sans-serif;
    color: #333;
    max-width: 840px;
    margin: 0 auto;
    margin-top: 24px;
    --basil-green: #88a308; /* define background color variable */
}

::selection {
    background: var(--basil-green);
    color: #fff;

}

article {
    float: left;
    width: 50%;
    padding: 16px;
}

aside {
    float: left;
    width: 50%;
    padding: 16px;
}


/** moves footer from underneath last floated element, since content is collapsed
 content is STILL collasped. **/
footer {
    clear: both;  
    background-color: var(--basil-green);
    padding: 1rem;
    border-radius: 0 0 4px 4px;

}

/** faux columns **/
.content {
    background: url("img/html.png") repeat-y 50% 50%;
    float: left;
}



