* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@import url(futura/stylesheet.css);

/** mobile first approach ==> specifically IPhone 5 **/


body {
    font: 100%/1.5 "Lucida Grande", "lucida Sans Unicode", Veranda, sans-serif;
    color: #333;
    width: 100%; /* ensurse width of element matches screen width */
    max-width: 840px;
    margin: 0 auto;
    margin-top: 24px;
     /* define background color variable */
    --basil-green: #88a308;
}

::selection {
    background: var(--basil-green);
    color: #fff;

}



/** branding header **/
header {
    /*position: relative;*/
    text-align: center;
    height: 7rem;
    background: var(--basil-green);
    border-radius: 8px 8px 0px 0px;
 
}

header h1 {
     background: url(img/basil.png) no-repeat;
    font-family: FuturaStdLight, sans-serif; 
    font-weight: normal;
    color:#fff;
    font-size: 4.5rem;
    background-position: -20px -20px;
}

header a.beta {
    background: url('img/burst.svg') no-repeat;
    color: #fff;
    font-size: 1rem;
    position: absolute;
    top: -5px;
    right: 1px;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;

    transform: rotate(20deg);
    transition: all 1s ease;
}

header a.beta:hover {
    transform: rotate(0deg) scale(1.2);
}

/** IPhone 5 , in navigation element move buttons under header **/
nav {
    float: none;
    background: #e4e1d1;
    border-top: 0.5rem solid #ebbd4e;
    padding: 0.25rem;
    width: 100%;
}

nav p {
    /*float: left;*/
     margin-right: auto;
}
nav ul {
    float: none;
}

nav li {
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 1px;
}

nav a {
    text-align: center;
    font-size: 1rem;
    padding: 4px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

/** button text **/
nav a {
    text-align: center;
    font-size: 1rem;
    padding: 4px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

/** button colors **/

.nav-storeit a {
 background: linear-gradient(to bottom, #fcde41 1%, #dfa910 100%);
}

.nav-storeit a:hover {
 background: linear-gradient(to bottom, #dfa910 0%, #fcde41 100%);
}

.nav-pickit a {
  background: linear-gradient(to bottom, #abc841 0%, #6b861e 100%);
}

.nav-pickit a:hover {
  background: linear-gradient(to bottom, #6b861e 1%, #abc841 100%);
}

.nav-cookit a {
  background: linear-gradient(to bottom, #6f89c7 0%, #344e8b 100%);
}

.nav-cookit a:hover {
  background: linear-gradient(to bottom, #344e8b 1%, #6f89c7 100%);
}



img {
    width:100%;
    height: auto;
}

/** use psuedo elements to simulate columns instead of floats **/
/** expands content element **/


.content:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/** animate links **/
.content a:hover {
    color: var(--basil-green);
}


article {
    
    padding: 1rem;
}

aside {
   background: url("img/html.png") repeat-y 100%;
    padding: 1rem;
}



aside li {
    list-style: none;
}
article li, article ol {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

/** this is an element selector and is used to select elements with a specific parent.**/
li > h4 {
    margin-top: 12px;
}




h2, h3 {
    color: var(--basil-green);
    margin: 8px 0;
    font-size: 1.4rem;
    letter-spacing: -1px;
}

a {
    color: #f90;
    text-decoration: none;
    transition: color 0.5s linear;
}

/** moves footer from underneath last floated element, since content is collapsed
 content is STILL collasped. **/
footer {
   
    background-color: var(--basil-green);
    padding: 1rem;
    border-radius: 0 0 4px 4px;

}


.overlay {
	position: fixed;
	top: 0;
	left:  0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background: rgba(0,0,0,0.5);

}

/** Popup window **/

.betainfo {
    width: 12.5rem;
    height: 6.25rem;
    padding: 1rem;
    background: #fff;
    border: 2px solid #eabc5a;
    border-radius: 0.25rem;
    position: absolute;
    z-index: 2000;
    top: 100px;
    left:calc(50% - 100px);
    /** could also use a negative margin **/
    /*visibility: hidden;*/
}

.emphasis {
    color: red;
}

.closer {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border: 2px solid #eabc5a;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5rem;
    font-weight: bold;
}

.showme {
   	display: block !important;
}


footer  > h3 {
    text-align: right;
}

footer >p {
    text-align: right;
}




@media only screen and (min-width:376px ) and (max-width: 600px) {

nav {
    float: left;

     background: #e4e1d1;
    border-top: 0.5rem solid #ebbd4e;
      padding: 0.25rem;
      width: 100%;
}
nav p {
    float: left;
     margin-right: auto;
}
nav ul {
    float: right;
}
nav li {
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 1px;
}





}




/*************************/
/** desktop media query **/
/*************************/

/** using flex  module for desktop **/
@media only screen and (min-width: 600px) {

/** branding header **/
header {
    position: relative;
    height: 120px;
    background: var(--basil-green);
    border-radius: 8px 8px 0px 0px;
}

header a.beta {
    background: url('img/burst.svg') no-repeat;
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    top: -20px;
    right: 10px;
    width: 85px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    text-transform: uppercase;

    transform: rotate(20deg);
    transition: all 1s ease;
}

header a.beta:hover {
    transform: rotate(0deg) scale(1.2);
}



/** add basil image to left side of branding header **/
header  h1 {
    transform: translate(-100px, -80px);
     padding-left: 260px;
    padding-top: 90px;
     background-position: top left;


}

nav {
    background: #e4e1d1;
    border-top: 0.5rem solid #ebbd4e;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 0.5rem;
}

nav p {
    margin-right: auto;
}

.content {
   
    display: flex;

}

article {
    flex: 1 0 60%;
}

aside {
   flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40%;
}

article li, article ol {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

}




